extends ./layout/index

block contenido 
    main.container.mt-5
        .row
            .col-md-5 
                img(src="/img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sapien lectus, efficitur et augue vel, efficitur dictum risus. Proin sit amet mauris mollis, fermentum ipsum a, hendrerit urna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras fringilla nibh ut tincidunt mattis. Etiam tempor varius consectetur. Nullam in consectetur velit. Nunc finibus massa in metus luctus sodales sollicitudin et nibh.

                p Nunc eu dolor turpis. Aenean fringilla eu erat vel tempus. Sed at laoreet justo. Maecenas efficitur urna in massa egestas, a pulvinar nibh eleifend. Maecenas id metus sit amet nibh convallis bibendum. Nam velit lorem, gravida non arcu a, sodales tincidunt diam. Morbi mauris lacus, auctor a consequat et, suscipit vel neque. Praesent neque velit, efficitur at tincidunt ut, egestas non felis. Aliquam est sem, vulputate quis nunc nec, interdum eleifend tortor. 

                p Pellentesque vel commodo justo, ac blandit lectus. Aliquam maximus turpis ut tristique pharetra. Donec tempor pulvinar massa, id vulputate risus sollicitudin lacinia. Fusce pulvinar, est vel mattis maximus, dui est vehicula quam, non eleifend elit metus vitae ligula. Vivamus scelerisque tincidunt turpis, id ornare neque cursus pellentesque. Morbi sollicitudin erat nisi, non ultrices turpis placerat non. Proin malesuada placerat fringilla. Nulla lectus mauris, vestibulum vitae arcu quis, lobortis consectetur risus.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Morbi sollicitudin erat nisi, non ultrices turpis placerat non. Proin malesuada placerat fringilla. Nulla lectus mauris, vestibulum vitae arcu quis, lobortis consectetur risus.
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Nulla lectus mauris, vestibulum vitae arcu quis, lobortis consectetur risus.
                .col-md-4 
                    img(src="img/icono_Precio.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precio
                    p Morbi mauris lacus, auctor a consequat et, suscipit vel neque. Praesent neque velit, efficitur at tincidunt ut, egestas non felis. Aliquam est sem, vulputate quis nunc nec, interdum eleifend tortor. 